.container__bot {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .titulo__bot{
    text-align: center;
    color: #007bff;
  }
  
  .chat-box {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
  }
  
  .user-message {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  
  .bot-message {
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  
  .input-bot {
    display: flex;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 10px;
  }
  @media screen and (max-width: 768px) {
    .container__bot {
        max-width: 100%;
    }
  }
  